<!-- THIS IS A Bootstrap TEMPLATE THAT I MODIFIED, I DO NOT OWN THIS TEMPLATE -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome <%= name %>
    </title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
        .body {
            position: relative;
            min-height: 100vh;
            margin: 0;
            background-color: #f8f9fa;
            font-family: 'Arial', sans-serif;
        }

        .auth-page {
            width: 100%;
            min-height: 100%;
            position: relative;
            padding: 2rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            border-radius: 8px;
        }

        h1 {
            font-weight: bold;
            color: #007bff;
            margin-bottom: 1.5rem;
            font-size: 2rem;
            /* Increase font size */
            padding-left: 1rem;
            /* Adjust padding */
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .top-left {
            position: absolute;
            top: 20px;
            left: 20px;
        }

        .top-right {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        p {
            font-size: 1.1rem;
            color: #555;
            padding-left: 1rem;
            /* Adjust padding */
        }

        a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="auth-page">
        <div class="auth-content">
            <div class="top-left">
                <h1>Hello <%= name %>
                </h1>
                <p><a href="/user/votes">Check here the list of candidates</a> or go to a specific candidate by
                    user/votes/:id</p>
            </div>
            <form action="/logout?_method=DELETE" method="POST">
                <div class="top-right">
                    <button class="btn btn-primary text-white" type="submit">Log out</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>